/* You can add global styles to this file, and also import other style files */

@import 'C:\Users\reshm\Desktop\Angular\hotelinventaryapp\node_modules\bootstrap\dist\css\bootstrap.min.css';
.even{
    background-color:rgb(244, 192, 96);
    color:white;
}
.odd{
    background-color: rgb(255, 146, 127);
    color:white
}